Origin: XBian
Package: xbian-update
Version: 1.0-0.2
Section: update
Essential: Yes
Priority: optional
Codename: wheezy
Architecture: armhf
Depends: xbian-package-kernel3.2.27 (>=1.1), xbian-package-kernel3.6.1 (>=1.0), xbian-package-lirc (>=1.0), xbian-package-xbmc (>=1.1), xbian-package-config (>=1.1), udisks, libnfs-dev, nfs-common, samba-common-bin, avahi-daemon, usbmount, git-core, ntfs-3g
Conflicts: libraspberrypi-doc
Installed-Size: 40
Maintainer: CurlyMo <development@xbian.org>
Description: Updates XBian 1.0 Alpha 1 to Alpha 2.
