Origin: XBian
Package: xbian-update
Version: 1.0-0.4
Section: update
Essential: Yes
Priority: optional
Codename: wheezy
Depends: xbian-package-kernel3.6.11 (>=1.0), xbian-package-lirc (>=1.2), xbian-package-xbmc (>=1.4), xbian-package-config (>=1.3), udisks, libnfs-dev, nfs-common, samba-common-bin, avahi-daemon, usbmount, git-core, ntfs-3g, wireless-tools, libjasper-dev, libass-dev, fbset, libplist1, pv, exfat-fuse, bc, network-manager, python-dbus, usbutils, libbluray-dev
Replacing: raspberrypi-artwork, raspberrypi-bootloader, libraspberrypi0, libraspberrypi-bin, libraspberrypi-dev
Conflicts: raspberrypi-artwork, raspberrypi-bootloader, libraspberrypi0, libraspberrypi-bin, libraspberrypi-dev
Architecture: armhf
Installed-Size: 17150
Maintainer: CurlyMo <development@xbian.org>
Description: Updates XBian 1.0 Alpha 3 to Alpha 4.
