Origin: XBian
Package: xbian-package-lirc
Version: 1.1
Section: utils
Essential: No
Priority: optional
Codename: wheezy
Architecture: armhf
Replaces: xbian-package-lirc (<=1.0)
Conflicts: lirc
Installed-Size: 2170
Maintainer: CurlyMo <development@xbian.org>
Description: Remote controller deamon.
