Origin: XBian
Package: xbian-package-kernel3.6.7
Version: 1.1
Section: kernel
Essential: No
Priority: optional
Codename: wheezy
Architecture: armhf
Installed-Size: 33990
Maintainer: CurlyMo <development@xbian.org>
Description: Kernel 3.6.7 for the Raspberry Pi.
