Origin: XBian
Package: xbian-package-xbmc
Version: 1.4
Section: video
Priority: optional
Codename: wheezy
Architecture: armhf
Replaces: xbian-package-xbmc (<=1.3)
Installed-Size: 77630
Maintainer: Koenkk <development@xbian.org>
Description: XBMC for XBian.
