Origin: XBian
Package: xbian-package-xbmc
Version: 1.0
Section: video
Priority: optional
Codename: wheezy
Architecture: armhf
Installed-Size: 58140
Maintainer: Koenkk <development@xbian.org>
Description: XBMC for XBian.
