Origin: XBian
Package: xbian-update
Version: 1.0-0.3
Section: update
Essential: Yes
Priority: optional
Codename: wheezy
Depends: xbian-package-kernel3.6.7 (>=1.0), xbian-package-lirc (>=1.1), xbian-package-xbmc (>=1.2), xbian-package-config (>=1.2), wireless-tools, libjasper-dev, libass-dev
Architecture: armhf
Installed-Size: 9270
Maintainer: CurlyMo <development@xbian.org>
Description: Updates XBian 1.0 Alpha 2 to Alpha 3.
