Origin: XBian
Package: xbian-package-xbmc
Version: 1.1
Section: video
Priority: optional
Codename: wheezy
Architecture: armhf
Replaces: xbian-package-xbmc (=1.0)
Installed-Size: 82070
Maintainer: Koenkk <development@xbian.org>
Description: XBMC for XBian.
