Origin: XBian
Package: xbian-package-lirc
Version: 1.2
Section: utils
Essential: No
Priority: optional
Codename: wheezy
Architecture: armhf
Replaces: xbian-package-lirc (<=1.1)
Conflicts: lirc
Installed-Size: 2190
Maintainer: CurlyMo <development@xbian.org>
Description: Remote controller deamon.
