Origin: XBian
Package: xbian-package-headers3.2.27
Version: 1.0
Section: kernel
Essential: No
Priority: optional
Codename: wheezy
Architecture: armhf
Replaces: xbian-package-headers3.2.27 (<=1.0)
Installed-Size: 737280
Maintainer: CurlyMo <development@xbian.org>
Description: Kernel headers 3.2.27 for the Raspberry Pi.
