Origin: XBian
Package: xbian-package-config
Version: 1.0
Section: utils
Essential: No
Priority: optional
Codename: wheezy
Architecture: armhf
Installed-Size: 50
Maintainer: CurlyMo <development@xbian.org>
Description: Configuration utility for XBian.
