Origin: XBian
Package: xbian-package-config
Version: 1.3
Section: utils
Essential: No
Priority: optional
Codename: wheezy
Architecture: armhf
Replaces: xbian-package-config (<=1.2)
Installed-Size: 100
Maintainer: CurlyMo <development@xbian.org>
Description: Configuration utility for XBian.
