Origin: XBian
Package: xbian-package-xbmc
Version: 1.2
Section: video
Priority: optional
Codename: wheezy
Architecture: armhf
Replaces: xbian-package-xbmc (<=1.1)
Installed-Size: 83010
Maintainer: Koenkk <development@xbian.org>
Description: XBMC for XBian.
