Origin: XBian
Package: xbian-package-kernel3.2.27
Version: 1.2
Section: kernel
Essential: No
Priority: optional
Codename: wheezy
Architecture: armhf
Replaces: xbian-package-kernel3.2.27 (<=1.1)
Installed-Size: 34240
Maintainer: CurlyMo <development@xbian.org>
Description: Kernel 3.2.27 for the Raspberry Pi.
