<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <setting type="lsep" label="32000"/>
    <setting type="lsep" label="32001"/>
    <setting type="lsep" label="32002"/>
    <setting type="lsep" label="32003"/>
    <setting type="lsep" label="32004"/>
    <setting type="lsep" label=""/>
    <setting id="email" type="text" label="31000"/>
    <setting id="skip_oldlog" type="bool" label="31001" default="true"/>
</settings>
