Origin: XBian
Package: xbian-package-kernel3.6.11
Version: 1.0
Section: kernel
Essential: No
Priority: optional
Codename: wheezy
Architecture: armhf
Installed-Size: 35070
Maintainer: CurlyMo <development@xbian.org>
Description: Kernel 3.6.11 for the Raspberry Pi.
